
.welcomeCurrents.sapMText {
	color: white;
	font-size: 2rem;
	position: absolute;
	width:100%;
    bottom: 0;
	padding-bottom: 8rem;
}

.welcomeCurrents.sapMBtn.sapMBtnBase {
	color: white;
	position: absolute; 
	bottom:0;
	width:auto;
    padding-bottom:5rem
}